<div class="container">
    <div class="contact-content">
        <h1>联系我们<span>CONTACT US</span></h1>
        <p class="main-content" style="letter-spacing: 2px;color: #222222;font-size: 20px;line-height: 36px;text-indent: 40px;">
            操作业务外包招标采购平台(http:// www.)（简称：招标采购）是由天津港口职工交流中心、天津益港物流技术
            服务有限公司信息技术研发中心发布的专业化的操作业务外包招标采购信息发布平台，信息产业部ICP备案号：)。该
            网站打造并提供全天津港操作业务各类招标、中标等电子化全流程的操作。为广大用户提供在线第三方的电子采购与
            招投标的专业化网站。为全面实行电子化、网络化的操作业务外包招标采购，提高办事效率，实现招投标活动真正意
            义上的“阳光操作
        </p>
        <h1>联系方式<span>CONTACT INFORMATION</span></h1>
        <div class="phone-way" style="height: 143px;">
            <img class="phone-img" src="assets/img/phone.jpeg" alt="">
            <p><span class="phoner">咨询电话</span><span class="phoner-num">40089989439</span></p>
            <img class="phone-img second-phone-img" src="assets/img/phoner.jpeg" alt="">
            <p><span class="phoner">咨询电话</span><span class="phoner-num">40089989439</span></p>
        </div>
    </div>
</div>
