* {
  list-style: none;
}
body{
  padding: 0;
  margin: 0;
}
[flex] {
  display: flex !important;
}

[flex1] {
  flex-grow: 1 !important;
}

[flex2] {
  flex-grow: 2 !important;
}

[flex3] {
  flex-grow: 3 !important;
}
[ct] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
[fw600] {
  font-weight: 600;
}
[d-inline]{
  display: inline-block !important;
}
[fs12] {
  font-size: 12px !important;
}

[fs14] {
  font-size: 14px !important;
}

[fs16] {
  font-size: 16px !important;
}

[fs18] {
  font-size: 18px !important;
}

[fs20] {
  font-size: 20px !important;
}

[m5] {
  margin: 5px !important;
}

[m10] {
  margin: 10px !important;
}

[m15] {
  margin: 15px !important;
}

[m20] {
  margin: 20px !important;
}

[p5] {
  padding: 5px !important;
}

[p10] {
  padding: 10px !important;
}

[p15] {
  padding: 15px !important;
}

[p20] {
  padding: 20px !important;
}

[pr0] {
  padding-right: 0 !important;
}

[pr5] {
  padding-right: 5px !important;
}

[pr10] {
  padding-right: 10px !important;
}

[pr15] {
  padding-right: 15px !important;
}

[pr20] {
  padding-right: 20px !important;
}

[pt0] {
  padding-top: 0 !important;
}

[pt5] {
  padding-top: 5px !important;
}

[pt10] {
  padding-top: 10px !important;
}

[pt15] {
  padding-top: 15px !important;
}

[pt20] {
  padding-top: 20px !important;
}

[pl0] {
  padding-left: 0 !important;
}

[pl5] {
  padding-left: 5px !important;
}

[pl10] {
  padding-left: 10px !important;
}

[pl15] {
  padding-left: 15px !important;
}

[pl20] {
  padding-left: 20px !important;
}
[pl30] {
  padding-left: 30px !important;
}
[pl40] {
  padding-left: 40px !important;
}

[pb0] {
  padding-bottom: 0 !important;
}

[pb5] {
  padding-bottom: 5px !important;
}

[pb10] {
  padding-bottom: 10px !important;
}

[pb15] {
  padding-bottom: 15px !important;
}

[pb20] {
  padding-bottom: 20px !important;
}

[m0]{
  margin: 0 !important;
}

[mr0] {
  margin-right: 0 !important;
}

[mr5] {
  margin-right: 5px !important;
}

[mr10] {
  margin-right: 10px !important;
}

[mr15] {
  margin-right: 15px !important;
}

[mr20] {
  margin-right: 20px !important;
}

[mt0] {
  margin-top: 0 !important;
}

[mt5] {
  margin-top: 5px !important;
}

[mt10] {
  margin-top: 10px !important;
}

[mt15] {
  margin-top: 15px !important;
}

[mt20] {
  margin-top: 20px !important;
}

[ml0] {
  margin-left: 0 !important;
}

[ml5] {
  margin-left: 5px !important;
}

[ml10] {
  margin-left: 10px !important;
}

[ml15] {
  margin-left: 15px !important;
}

[ml20] {
  margin-left: 20px !important;
}
[mb0] {
  margin-bottom: 0 !important;
}

[mb5] {
  margin-bottom: 5px !important;
}

[mb10] {
  margin-left: 10px !important;
}

[mb15] {
  margin-left: 15px !important;
}

[mb20] {
  margin-bottom: 20px !important;
}

.nav-guide li a {
  float: left;
  height: 50px;
  line-height: 30px;
  display: block;
  margin-top: -1px;
  color: #fff;
}

.nav-guide li a:hover {
  height: 50px;
  line-height: 30px;
  display: block;
  background-color: #054ca5 !important;
  color: #fff;
  margin-top: -1px;
}

.nav-guide li.active-on a {
  height: 50px;
  line-height: 30px;
  display: block;
  background-color: #054ca5;
  color: #fff;
  margin-top: -1px;
}

.nav-head {
  height: 40px;
  line-height: 40px;
  color: #666666;
  font-size: 16px;
  background-color: #f6f6f6;
}

.compony-logo {
  height:100px;
  margin-top: 40px;
}

.compony-logo > img {
  width: 60px;
  height: 60px;
  /*margin-top: 20px;*/
  float: left;
}

.compony-logo > p {
  font-family: FZZYJW--GB1-0;
  font-size: 36px;
  letter-spacing: 2px;
  color: #013e8a;
  font-weight: bold;
  float: left;
  height: 100%;
  line-height: 100px;
  margin-left: 23px;
}

.form-box {
  float: right;
  width: 500px;
  /*margin-top: -60px;*/
  margin-top: -70px;
}
.form-box div:first-child {
  padding-left: 20px;
}

.form-input {
  width: 360px;
  height: 42px;
}

.btn-search {
  width: 100px;
  height: 42px;
}

.public-detail-nav {
  color: #fff;
  font-size: 16px;
  height: 50px;
  background-color: #0a65d7;
  color: #fff;
  font-weight: normal;
}

.public-detail-pra {
  color: #666666;
  font-size: 16px;
}

.border-e8e8e8 {
  border: solid 1px #e8e8e8;
}

.public-footer {
  height: 150px;
  background-color: #424242;
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  margin-top: 35px;
}

.public-detail-tit {
  margin-top: 25px;
  margin-bottom: 21px;
  font-weight: bold;
  font-size: 16px;
}

.public-detail-explain-time {
  letter-spacing: 1px;
  font-size: 16px;
  margin-bottom: 19px;
}

.public-detail-explain-time > span {
  color: #222222;
}

.public-detail-explain-time > span > b {
  color: #999999;
  font-weight: 300;
}

.public-detail-main {
  padding: 28px 11px 19px 17px;
  border-top: 1px solid #e8e8e8;
  font-size: 16px;
}

.content-require {
  letter-spacing: 1px;
  color: #222222;
  font-weight: normal;
  margin-top: 37px;
}

.content-require span {
  display: block;
}

.main-content-left {
  width: 210px;
  height: 346px;
  border: solid 1px #0a65d7;
  margin-top: 6px;
  float: left;
}

.main-content-left > ul {
  width: 210px;
  margin-left: -42px;
}

.main-content-left > ul > li {
  width: 210px;
  height: 69px;
  line-height: 69px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #0a65d7;
  margin-right: 30px;
  border-bottom: dashed 1px #eeeeee;
  padding-left: 32px;
}

.main-content-left > ul > li:last-child {
  border-bottom: none;
}

.main-content-left > ul > li.active-on {
  color: #013e8a;
  font-weight: bold;
  position: relative;
}

.main-content-left > ul > li.active-on:before {
  content: '';
  width: 4px;
  height: 18px;
  display: block;
  position: absolute;
  top: 26px;
  left: 2px;
  background-color: #054ca5;
}

.main-content-right {
  width: 750px;

}

.main-content-header {
  margin-left: 34px;
  margin-top: 22px;
  padding-bottom: 18px;
  letter-spacing: 1px;
  color: #666666;
  border-bottom: 1px solid #dddddd;
  font-family: MicrosoftYaHei;
  font-size: 16px;
}

.main-content-item {
  letter-spacing: 2px;
  color: #222222;
  font-size: 18px;

}

.main-content-item > li {
  margin-bottom: 30px;
  position: relative;
  margin-left: 22px;
}

.main-content-item > li::before {
  content: '';
  width: 6px;
  height: 6px;
  background-color: #ff9a22;
  position: absolute;
  top: 10px;
  left: -28px;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}

.contact-content {
  width: 1068px;
  margin: 0 auto;
}

.contact-content h1 {
  letter-spacing: 3px;
  color: #222222;
  font-size: 25px;
  margin-top: 60px;
  position: relative;
}

.contact-content h1:before {
  content: "";
  width: 45px;
  height: 2px;
  background-color: #0a65d7;
  position: absolute;
  top: -20px;
  left: 0;
}

.contact-content h1 span {
  font-size: 12px;
  letter-spacing: 1px;
  color: #999999;
  display: block;
  font-weight: normal;
  margin-top: 10px;
}

.phone-way {

}

.phone-way > p {
  float: left;
  margin-top: 48px;
  margin-left: 17px;
}

.phone-way > p > span {
  display: block;
}

.phone-way > p > .phoner {
  font-size: 18px;
  color: #666666;
  font-family: MicrosoftYaHeiLight;
}

.phone-way > p > .phoner-num {
  font-size: 22px;
  color: #333333;
  font-family: MicrosoftYaHei;

}

.phone-img {
  width: 70px;
  height: 70px;
  float: left;
  margin-top: 38px;
}

.second-phone-img {
  margin-left: 167px;
}

.main-content-tit {
  color: #666666;
  font-size: 16px;
  padding-bottom: 19px;
  border-bottom: 1px solid #ddd;
}

.list-item > li {
  position: relative;
  font-size: 18px;
  letter-spacing: 2px;
  color: #222222;
  margin-bottom: 30px;
  margin-left: -20px;
}

.list-item > li > span {
  float: right;
  letter-spacing: 2px;
  color: #999999;
  font-size: 18px;

}

.list-item > li:before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ff9a22;
  position: absolute;
  top: 11px;
  left: -14px;
}

.zbxq-content-tit {
  letter-spacing: 2px;
  color: #222222;
  font-size: 22px;
  font-weight: bold;
}

.zbxq-main-content {
  margin-top: 19px;
  padding-top: 20px;
  padding-bottom: 90px;
}

.zbxq-content-tit2 {
  margin-bottom: 17px;

}

.zbxq-list {
  padding-top: 35px;
  margin-left: -40px;
  border-top: 1px solid #e8e8e8;
  /* margin-bottom: -11px; */
}

.zbxq-list li span:first-child {
  width: 476px;
  display: inline-block;
}

.zbxq-list li span:first-child {
  text-align: right;
}

@media (min-width: 1200px){
  .container {
    width: 1000px !important;
  }
}
.btn-warning:hover {
  color: #d58512 !important;
}
.box1 {
  position: fixed;
  top: 35%;
  left: 20px;
}
.box2 {
  position: fixed;
  top: 35%;
  right: 20px;
}
