<div class="container">
    <p class="main-content-tit">当前位置：首页 > 中标公告 > 长城钻探物资分公司委内瑞拉泥浆罐海运项目 > 长城钻探物资分公司委内瑞拉泥浆罐海运项目</p>
    <ul class="zbxq-main-content border-e8e8e8">
        <p class="text-center zbxq-content-tit">长城钻探物资分公司委内瑞拉泥浆罐海运项目</p>
        <p class="text-center zbxq-content-tit zbxq-content-tit2">中标公示</p>
        <ul class="zbxq-list">
            <li><span>项目名称：</span><span>长城钻探物资分公司委内瑞拉泥浆罐海运项目</span></li>
            <li><span>项目单位：</span><span>中粮集团</span></li>
            <li><span>招标申请号：</span><span>BJWX20180091</span></li>
            <li><span>招标公告时间：</span><span>2018-07-12 至 2018-07-18</span></li>
            <li><span>开标日期：</span><span>2018-07-31</span></li>
            <li><span>参加投标的单位：</span><span>4</span></li>
            <li><span>中标单位：</span></li>
            <li><span>中标标价：</span></li>
            <li><span>中标服务期限：</span></li>
            <li><span>中标公示时间：</span></li>
            <li><span>投诉电话：</span></li>
            <li><span>招标代理单位：</span></li>
        </ul>

    </ul>
</div>
