
<div style="width: 970px;margin: 0 auto;">

  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img alt="" class="slide-image" src="assets/img/slide1.jpg">

      </div>

      <div class="item">
        <img alt="" class="slide-image" src="assets/img/slide2.jpg">

      </div>

      <div class="item">
        <img alt="" class="slide-image" src="assets/img/slide3.jpg">

      </div>
      <div class="item">
        <img alt="" class="slide-image" src="assets/img/slide4.jpg">

      </div>

    </div>

    <a href="javascript:$('.carousel').carousel('prev')" class="left carousel-control">

      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

    </a>

    <a href="javascript:$('.carousel').carousel('next')" class="right carousel-control">

      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

    </a>

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

  </div>

</div>

<div mt20 style="width: 970px;margin: 0 auto;">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active">
      <a href="#home" data-toggle="tab">
        招标公告
      </a>
    </li>
    <li>
      <a href="#home" data-toggle="tab">
        中标公告
      </a>
    </li>
    <li style="float: right">
      <a href="zbggList.html">
        更多
      </a>
    </li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="home">
      <div flex style="padding-top: 20px;padding-bottom: 10px;flex-direction: column;border-bottom: 1px dotted #ccc;padding-left: 15px;">
        <h4 flex fw600>
          【长城钻探物资分公司委内瑞拉泥浆罐海运项目】招标公告
        </h4>
        <div flex>
          <div flex1 flex style="width: 100px;align-items: center">
            <h5>
              招标人: <span>环卫中心</span>
            </h5>
          </div>
          <div pl10 flex1 flex style="width: 100px;align-items: center">
            <img mb5 src="assets/img/v3.svg" alt="" style="width: 18px;height: 18px;">
            <h5>公开招标</h5>
          </div>
          <div flex1 flex style="width: 100px;align-items: center">
            <img mb5 src="assets/img/v2.svg" alt="" style="width: 18px;height: 18px;">
            <h5>绿植</h5>
          </div>
          <div flex1 flex style="width: 100px;align-items: center">
            <img mb5 src="assets/img/v1.svg" alt="" style="width: 18px;height: 18px;">
            <h5>宁河</h5>
          </div>
          <div flex1 flex style="width: 100px;flex-direction: column;">
            <p>报名截止时间</p>
            <h5>2018-9-9 15:55</h5>
          </div>
          <div flex1 flex style="width: 100px;flex-direction: column;">
            <p>开标时间</p>
            <h5>2018-9-9 15:55</h5>
          </div>
          <div flex1 flex style="width: 100px;align-items: baseline;">
            <a href="zbgg.html" type="button" class="btn btn-warning" style="
    background: #fff;color: #eea236;outline: none !important;
">查看详情</a>
          </div>
        </div>
      </div>
      <div flex style="padding-top: 20px;padding-bottom: 10px;flex-direction: column;border-bottom: 1px dotted #ccc;padding-left: 15px;">
        <h4 flex fw600>
          【中粮米业有限公司码垛项目】招标公告
        </h4>
        <div flex>
          <div flex1 flex style="width: 100px;align-items: center">
            <h5>
              招标人: <span>中粮米业</span>
            </h5>
          </div>
          <div pl10 flex1 flex style="width: 100px;align-items: center">
            <img mb5 src="assets/img/v3.svg" alt="" style="width: 18px;height: 18px;">
            <h5>公开招标</h5>
          </div>
          <div flex1 flex style="width: 100px;align-items: center">
            <img mb5 src="assets/img/v2.svg" alt="" style="width: 18px;height: 18px;">
            <h5>制造业</h5>
          </div>
          <div flex1 flex style="width: 100px;align-items: center">
            <img mb5 src="assets/img/v1.svg" alt="" style="width: 18px;height: 18px;">
            <h5>北疆港区</h5>
          </div>
          <div flex1 flex style="width: 100px;flex-direction: column;">
            <p>报名截止时间</p>
            <h5>2018-9-9 15:55</h5>
          </div>
          <div flex1 flex style="width: 100px;flex-direction: column;">
            <p>开标时间</p>
            <h5>2018-9-9 15:55</h5>
          </div>
          <div flex1 flex style="width: 100px;align-items: baseline;">
            <a href="zbgg.html" type="button" class="btn btn-warning" style="
    background: #fff;color: #eea236;outline: none !important;
">查看详情</a>
          </div>
        </div>
      </div>
      <div flex style="padding-top: 20px;padding-bottom: 10px;flex-direction: column;border-bottom: 1px dotted #ccc;padding-left: 15px;">
        <h4 flex fw600>
          【长城钻探物资分公司委内瑞拉泥浆罐海运项目】招标公告
        </h4>
        <div flex>
          <div flex1 flex style="width: 100px;align-items: center">
            <h5>
              招标人: <span>中粮集团</span>
            </h5>
          </div>
          <div pl10 flex1 flex style="width: 100px;align-items: center">
            <img mb5 src="assets/img/v3.svg" alt="" style="width: 18px;height: 18px;">
            <h5>公开招标</h5>
          </div>
          <div flex1 flex style="width: 100px;align-items: center">
            <img mb5 src="assets/img/v2.svg" alt="" style="width: 18px;height: 18px;">
            <h5>制造业</h5>
          </div>
          <div flex1 flex style="width: 100px;align-items: center">
            <img mb5 src="assets/img/v1.svg" alt="" style="width: 18px;height: 18px;">
            <h5>北疆港区</h5>
          </div>
          <div flex1 flex style="width: 100px;flex-direction: column;">
            <p>报名截止时间</p>
            <h5>2018-9-9 15:55</h5>
          </div>
          <div flex1 flex style="width: 100px;flex-direction: column;">
            <p>开标时间</p>
            <h5>2018-9-9 15:55</h5>
          </div>
          <div flex1 flex style="width: 100px;align-items: baseline;">
            <a href="zbgg.html" type="button" class="btn btn-warning" style="
    background: #fff;color: #eea236;outline: none !important;
">查看详情</a>
          </div>
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="ios">
      <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
        TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
    </div>
  </div>

</div>

